baseURL = 'https://example.org/'
languageCode = 'en-us'
title = "It 's so meow"
theme = "codex"

[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight = 20

[[menus.main]]
name = "Tags"
pageRef = "/tags"
weight = 25



[[menus.main]]
name = 'About'
pageRef = '/about'
weight = 30


[module]
  [module.hugoVersion]
    extended = false
    min = "0.116.0"
